* {
    margin: 0;
    padding: 0;
}

.container {
    margin-left: 4rem;
    margin-right: 4rem;
    height: 100vh;
    width: 98vw;
}


/* --------------------------SEARCH BAR------------------------ */

.search-bar{
    position:fixed;
    right: 0;
    top: 0;
    left: 0;
    background-color: #F4F2DE;
}

.search-bar-input {
    height: 2rem;
    width: 30rem;
    border: 2px solid black;
    border-radius: 10px;
    /* margin: 2rem 4rem; */
    margin: 2rem 4rem;
}


/* --------------------------IMAGE LIST------------------------ */
.image-list {
    margin-top: 10rem;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1fr;
    gap: 20px;
}

li {
    list-style: none;
}

img {
    object-fit: cover;
}
input {
    line-height: 4em; 
}
